@model BookViewModel

@{
    ViewData["Title"] = Model.CurrentFilter;
}

<div class="top-content">
    <div class="div-elements title-content">
        <h3>@ViewData["Title"]</h3>
    </div>

    <form>
        <div class="form-group div-elements">
            <input type="text" class="form-control" style="text-align:right" placeholder="Pesquisar" name="searchString" />
            <input type="submit" class="btn btn-success" value="Pesquisar" style="float:right" asp-action="FindByParams" />
        </div>
    </form>
</div>

<partial name="_BooksPartial" for="Books" />

@if (Model.PageDetails.TotalPages > 1)
{
    @if (Model.PageDetails.HasPreviousPage())
    {
        <a type="button" class="btn btn-link" asp-action="Index" asp-route-page="@Model.PageDetails.PreviousPage">Página anterior</a>
    }
    @if (Model.PageDetails.HasNextPage())
    {
        <a type="button" class="btn btn-link" asp-action="Index" asp-route-page="@Model.PageDetails.NextPage">Próxima página</a>
    }
}

<style>
    .top-content {
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .title-content {
        max-width: 420px;
    }

    .div-elements {
        padding:40px
    }
</style>